.a{
    text-align: center;
font-weight: lighter;
    text-decoration: none;
    color: black;
}

.a:hover {
    text-decoration: underline;
    color: #5757dc;
}
.closeButton{
    left: 306px;
    top: 22px;
    position: absolute;
}